<% @page = "teams" %>
<div class="content-container centered-span">
<div class="content">
    <h5>
        This feature is our “Coaches Corner”. By creating a team, you are able to invite players via email to join your roster. Once players have received their invite, they will be directed to create an account and their trading card. Once the card is completed, it will be sent back to a kiosk roster located in a personal administrative page. Coaches can edit player stats and track player performance from the administrative page.
        Note: For easy sign ups, coaches can purchase multiple credits for the entire team.
    </h5>
</div>
    </div>
<div class="content-container span4 centered-span"><div class="content">
<h1>New team</h1>

<%= render 'form' %>

</div></div>