<div id="store-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
          <h2 style="color:#FF5735;" class="modal-title">Welcome to our store place!</h2>
        </div>
        <div class="modal-body">
          <p style="color:#000;font-size: 15px;">Here you will find an endless list of merchandise to choose from.<br>
          Just save the QR Code image from your card to provide with your order.<br>
    Create your QR Code in less than 5 minutes!<br>
    Already a iDigitallSports user? Happy shopping!
          </p>
        </div>
        <div class="modal-footer" style="text-align:center;">
          <a style="padding:6px;" href="http://qrc.cheapestpromotionalproducts.com/" class="alert button radius">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
<footer>
  <div id="content-footer">
    <div id="container-footer">

      <!--  START FOOTER COLUMNS  -->
      <article class="one-fourth center">
      <h3></h3>
      <section id="footer-blog">
     <a style="border: 0 none" href="/" ><img src="/assets/website/logo/wordpress-blog.png" ></a>
      </section><!-- end footer-blog -->
      </article><!-- end one-fourth -->

      <article class="one-fourth">

      </article><!-- end one-fourth -->

      <article class="one-fourth">
      <!--FIX
      <h3>Follow us</h3>
       <section id="footer-social">
         <a style="display: none" href="http://idigitallsports.com/#"><img src="/assets/website/icons/social/rss.png" alt="RSS Feed" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a href="https://www.facebook.com/pages/Idigitallsports/585501764811875?fref=ts"><img src="/assets/website/icons/social/facebook.png" alt="Facebook" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a style="display: none" href="https://twitter.com/iDigitallSports"><img src="/assets/website/icons/social/twitter.png" alt="Twitter" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a style="display: none" href="http://www.linkedin.com/groups/iDigitallSports-4926577&amp;trk=myg_ugrp_ovr"><img src="/assets/website/icons/social/linkedin.png" alt="linkedIn" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a style="display: none" href="https://pinterest.com/idigitallSports/"><img src="/assets/website/icons/social/pinterest.png" alt="Pinterest" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a style="display: none" href="mailto:info@idigitallsports.com?Subject=IDigitallSports Website Contact"><img class="footer-social-icon hover-fade" alt="email" src="/assets/website/icons/social/email.png" style="opacity: 0.7;"></a>
 -->
 <script src="http://www.manta.com/js/widget_embed.js"></script>
 <a style="display: none !important" class="manta" href="http://www.manta.com/cpl-edit/mxdhmsq#widget:recommendations;w:250;h:470;emid:mxdhmsq"><img class="footer-social-icon hover-fade" alt="Manta" src="/assets/website/icons/social/manta.png" style="display:inline !important;opacity: 0.7;"></a>
</section><!-- end footer-social -->
      </article><!-- end one-fourth -->

      <article class="one-fourth-last">

      </article><!-- end one-fourth-last -->
        <!--  END FOOTER COLUMNS  -->

        <br class="clear">
      <hr class="copyright gradient">
    </div><!-- end container-footer -->

    <!--  START COPYRIGHT, BOTTOM MENU, SIGNATURES  -->
    <div id="copyright">

        <nav id="menu-bottom">
        <ul>
            <li><a href="http://idigitallsports.com/">Home</a></li>
  <!-- <li><a href="http://idigitallsports.org">Blog</a></li> -->
  <li><a href="about.html">About</a></li>
  <li><a style="display: none" href="contact.html">Affiliates</a></li>
  <li><a href="contact.html">Sponsor</a></li>
  <li><a href="contact.html">Contact Us</a></li>
        </ul>
        </nav><!-- end menu-bottom -->

        <br class="clear">

     <figure
class="signature small"><span class="copyright aligncenter">Copyright <span id="date"></span>
IdigitallSports.       Designed and Developed by: <a href="http://eConnectCard.com">eConnect Card Systems, Inc.</a> <%= DateTime.now.year %> All rights reserved &copy;.</span></figure><!-- end signature -->

    </div><!-- end copyright -->
      <!--  END COPYRIGHT, BOTTOM MENU, SIGNATURES  -->

    <br class="clear">
    </div><!-- end content-footer -->
    <div id="bottom-footer"></div>
  </footer>
