<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39350804-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8"><link rel="dns-prefetch" href="//ajax.googleapis.com">
<title>I Dig it All Sports - The Next Generation Trading Card | About Us</title><!--
  This block should only load for mobile and tablet devices
-->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="on" http-equiv="cleartype">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-144x144-precomposed.png" sizes="144x144">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-114x114-precomposed.png" sizes="114x114">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-72x72-precomposed.png" sizes="72x72">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-precomposed.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="I Dig it All Sports - Trading Card"><!-- end block -->
<link rel="shortcut icon" href="/assets/website/icons/touch/favicon.ico"><!--
  This block should load for Win8 OS only
  Tile icon for Win8 (144x144 + tile color)
-->
<meta name="msapplication-TileImage" content="/assets/website/icons/touch/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#222"><!-- end block -->
<link rel="canonical">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<meta name="keywords" content="Sports,Trading card,Stats,Digital card,Social media,Social sports,little league,Babe ruth,League,Sports league,High school sports,life touch,Sports photography,Sports images,Share,Sports shots,Sports background,Topps,Big leagues,Major league,Minor league,Pros,Collections,Cards,Tobacco card,Upper deck,Football,Softball,Hockey,Volleyball,Soccer,Futbol,Field hockey,Lacrosse,Basketball,Kickball,Softball,Fields,Stadium,Recreational sports,Coed sports,Golf,Sporting goods,Sports store,Sports equipment,Sports merchandise,Players,Athletes,Fantasy sports,Champions,teams,rosters">

  <%= stylesheet_link_tag 'application-website' %>
  <%= javascript_include_tag 'application-website' %>

  <script>(
        function() {
          if (navigator.userAgent.match(/Iemobile\/10\.0/))
            {
              var msViewportStyle = document.createElement("style");
              msViewportStyle.appendChild(document.createTextNode("@-ms-viewport {width:auto!important}"));
                  document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
                }
            }
              )
    ();
</script>
  <!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
   <script src="http://www.manta.com/js/widget_embed.js"></script>
</head>

<body id="body">
<div class="tab">
<ul class="login" id="toggle">
  <li><a href="http://idigitallsports.com/users/sign_in">Sign
  In</a> | <a href="http://idigitallsports.com/users/sign_up">Sign
  Up</a></li></ul></div>
  <%# <div class="info right"><span><a href="tel:18668498081">1-866-849-8081</a></span><span><a href="mailto:info@idigitallsports.com">info@idigitallsports.com</a></span></div> %>
  <h1 class="logo"></h1>
  <div id="top"></div>
  <div id="content">

    <header id="header">
     <h1>About Us</h1>
      <span class="phrase">Learn why we created I Dig It All Sports</span>





      <div id="social-wrapper">
       <!-- <a href="http://idigitallsports.com/#"><img src="/assets/website/icons/social/rss.png" alt="RSS Feed" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       -->
       <a href="https://www.facebook.com/pages/Idigitallsports/585501764811875?fref=ts"><img src="/assets/website/icons/social/facebook.png" alt="Facebook" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <!--
       <a href="https://twitter.com/iDigitallSports"><img src="/assets/website/icons/social/twitter.png" alt="Twitter" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a href="http://www.linkedin.com/groups/iDigitallSports-4926577&amp;trk=myg_ugrp_ovr"><img src="/assets/website/icons/social/linkedin.png" alt="linkedIn" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
       <a href="https://pinterest.com/idigitallSports/"><img src="/assets/website/icons/social/pinterest.png" alt="Pinterest" class="footer-social-icon hover-fade" style="opacity: 0.7;"></a>
 <a href="mailto:info@idigitallsports.com?Subject=IDigitallSports Website Contact"><img class="footer-social-icon hover-fade" alt="email" src="/assets/website/icons/social/email.png" style="opacity: 0.7;"></a>
 <script src="http://www.manta.com/js/widget_embed.js"></script>
 <a class="manta" href="http://www.manta.com/cpl-edit/mxdhmsq#widget:recommendations;w:250;h:470;emid:mxdhmsq"><img class="footer-social-icon hover-fade" alt="Manta" src="/assets/website/icons/social/manta.png" style="display:inline !important;opacity: 0.7;"></a>  -->
    </div>
      <p class="breadcrumb"><a href="/">Home</a><span class='current_crumb'>About Us</span></p>
    </header><!-- end header -->

    <%= render 'main_menu', a: {'about' => 'active'} %>

    <div id="container">

      <div class="fullwidth-heading">
        <h2>What's in the box?</h2>
      </div><!-- end fullwidth-heading -->
      <br class="clear-space">

    <!--  START FLIGHT  -->
    <div class="full"> <p>I first started with a passion for trading cards when I was 8 yrs old. I would trade with my cousin trading cards that one of us had and the other didn’t. I received my first personal trading card in 1984. The card was a laminate sticker placed on a cardboard backing. I couldn’t wait to trade my card with family and friends. The card is still with me at my desk.</p>
<p>I dig it all sports was an idea that I had while owning a sports league in Delaware. We were always searching for ways to make it fun and interesting for our members. I decided to start researching the web for digital trading cards that kept actual week to week stats, and can be traded via email and social media. To my surprise, my idea did not exist.</p>
<p>From that time I moved forward in development. I wanted a sports trading card that appeared the same as a traditional card, but bring it into the 21st century. </p>
<p>The final approach far exceeded my expectations. The benefits were jumping out of the screen once we started to move through the card process. Families can now send their child’s card to Aunt Rose over the internet. High school coaches can create a team roster and track their player’s progress from game to game, not to mention, send their star players card to college scouts! Golf courses can place league members cards on their website and spotlight players of the week. Adult sports leagues can create some friendly competition between players. Professional players love using social media, just another way to show off their skills.</p>
<p>Whether you’re 7 or 70, the card is yours to track week to week results. I believe anyone that plays sports should have their own trading card. If sports “plays” a big part your life, create an I dig it all sports card and start trading today.</p>
    </div>
    <!--  END FLIGHT  -->

    <br class="clear">


    <br class="clear-space">

  </div><!-- end of container -->
  </div><!-- end content -->



<%= render 'footer' %>

  <nav id="back-top">
  <a href="#top"><span></span>Back to Top</a>
  </nav><!-- end back-top -->
<script type="text/javascript">
   var _mfq = _mfq || [];
   (function() {
       var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
       mf.src = "//cdn.mouseflow.com/projects/7d3f41da-0204-4189-8a2f-cad2494417a1.js";
       document.getElementsByTagName("head")[0].appendChild(mf);
   })();
</script>
</body>
</html>
