<p>Contact info attached!</p>

<p><%= link_to('View Card', "#{root_url}cards/#{@card.id}") %></p>

<p>Create your card today!</p>
<p><a href="<%= root_url %>"><img src="https://s3.amazonaws.com/playersbrand_prod/static_assets/logo.png"></a></p>