<div id="websites-help" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>What websites point back to you?</h3>
  </div>
  <div class="modal-body">
  <ul>
    <li>Open the website on a separate tab</li>
    <li>Right Click the url located on your toolbar</li>
    <li>Click Copy</li>
    <li>Right Click and Paste your URL here</li>
    <li>Name your website</li>
    <li>Examples of websites:
      <ol>
        <li>Company or Personal website</li>
        <li>Newsletter</li>
        <li>Testimonials</li>
        <li>Blog</li>
        <li>Promotions </li>
        <li>Services</li>
        <li>Driving Directions</li>
      </ol>
    </li>
  </ul>
  </div>
</div>

<div id="social-networks-help" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Contacts can instantly connect and follow with a click</h3>
  </div>
  <div class="modal-body">
  <ul>
    <li>Choose a social network from the drop down</li>
    <li>Open that social network on a separate tab</li>
    <li>Right Click the url on the toolbar</li>
    <li>Click Copy</li>
    <li>Right Click and Paste the URL here</li>
  </ul>
  </div>
</div>