<div class="progress-line">
  <ul class="steps">
    <li><span class="step-1"><%= image_tag('app/card/step1.png') %></span></li>
    <li class="center"><span class="step-2"><%= image_tag('app/card/step2.png') %></span></li>
    <li class="center"><span class="step-3"><%= image_tag('app/card/step3.png') %></span></li>
    <li><span class="step-4"><%= image_tag('app/card/step4.png') %></span></li>
  </ul>
</div>