<fieldset>
	<p>
		<%= f.text_field :name, :placeholder => "Link Name", :class => "input-medium" %>
		<%= f.text_field :url, :placeholder => "http://example.com", :class => "input-medium" %>
		<%= f.hidden_field :_destroy %>
		<%= link_to "<i class='icon-minus-sign'></i>".html_safe, '#', :class => "remove_fields" %>
	</p>
</fieldset>