<ul class="breadcrumb">
    <li>
  	  <%= link_to 'Dashboard', root_url %> <span class="divider">/</span>
    </li>
    <li class="active">Edit Card</li>
</ul>
<%= render 'form' %>
<%= render 'cards/images_library' %>